.content-holder {
  padding: 2vh 1vw;
}

.full-width-list {
    display: block;
    padding: 20px;
    width: 100%;
}

.info-icon {
    margin-right: 10px;
}

.info-item {
  color: black;
}

.content-card {
  border: none;
  box-shadow: none;
  color: #000000;
  background-color: #f2f2f2;
}

@media only screen and (min-width: 961) {
    .product-list {
        font-size: 12px;
    }
}
@media only screen and (max-width: 960) {
    
}
