.banner {
  width: 100%;
  background-image: url(../assets/banner-printing-design-concept-icons-white-background-109330308.jpg);
  height: 405px;
  background-color: purple;
  background-position: center;
}