<div class="content-holder">
  <mat-card class="product-list">
    <mat-card-title>產品列表</mat-card-title>
    <mat-grid-list cols="{{breakpoint}}" rowHeight="3:1" (window:resize)="onResize($event)">
      <mat-grid-tile>
        <img width="100%" src="assets/product1.jpeg" />
        <mat-grid-tile-footer>銅版紙、鏡面銅版紙系列商標貼紙</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <img width="100%" src="assets/product3.jpeg" />
        <mat-grid-tile-footer>金箔、銀箔、金龍、銀龍系列商標貼紙</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <img width="100%" src="assets/product4.jpeg" />
        <mat-grid-tile-footer>PVC、PET、PP合成紙等系列商標貼紙</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <img width="100%" src="assets/product5.jpeg" />
        <mat-grid-tile-footer>模造紙、牛皮貼紙、易碎等系列商標貼紙</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <img width="100%" src="assets/product7.jpeg" />
        <mat-grid-tile-footer>靜電膜(透明、不透明)系列商標貼紙</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <img width="100%" src="assets/product9.jpeg" />
        <mat-grid-tile-footer>各式雷射貼紙、UL特多龍系列商標貼紙</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-footer>透明特多龍、透明麗龍等系列商標貼紙</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-footer>不殘膠、撕不破系列商標貼紙</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-footer>珠光紙、霧面珠光紙系列商標貼紙</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-footer>PU、波麗系列銘版貼紙</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-footer>模內貼(透明、不透明)系列商標貼紙</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-footer>不織布、布標系列印刷、軋型加工</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-footer>各式反光、夜光、螢光貼紙印刷加工</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-footer>各式PC、壓克力、金屬銘版</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-footer>各式網版印刷系列商標貼紙</mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
